/* header Nav information*/

/* Controls header bar */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Controls everything */
body {
  /* font-family: "Satisfy", sans-serif; May use a google font in future */
  background-color: #f4f7fa;
  color: #333; /*optional*/
  margin: 0;
  padding: 0;
}
/*Keeps everything contained to the middle or center of screen*/
.container {
  max-width: 600px;
  margin: 0 auto;
}

/* For the presentation */
.card {
  border-radius: 12px; /* rounds out the corners */
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /*optional shadow*/
}

.card-body {
  padding: 2rem;
}

/* Heading for the weather section */

h3 {
  font-family: "Lobster", sans-serif;
  font-size: 500px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #074d98; /* Bootstrap blue color */
  margin-bottom: 20px;
}

/* Input group styling */
.input-group {
  margin-bottom: 20px;
}

.input-group .form-control {
  border-radius: 30px; /* Can Round out input fields */
  padding-left: 15px; /* Spaces for the text */
}

.input-group .input-group-text {
  border-radius: 30px; /* Round button */
  background-color: #074d98;
  color: #fff;
  font-weight: bold;
}

/* For Radio button */
.form-check-label {
  font-size: 14px;
  color: #555;
}

.form-check-input {
  margin-right: 10px;
}

/* Card content for weather details */
.card-body p {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-body strong {
  font-weight: 600;
  color: #007bff;
}

/* Weather icon styling */
.card-body i {
  color: #007bff;
  margin-left: 10px;
}

.d-flex {
  justify-content: space-between;
  align-items: center;
}
/*For the container*/
.vh-100 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive Styling Options for smaller screen sizes  */
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
  h3 {
    font-size: 20px;
  }
  .input-group {
    margin-bottom: 10px;
  }
}
